:root {
  --latchblue: #dadce7;
  --apostrophegold: #b6a066;
  --almostblack: #2F2F2F;
  --acnegrey: #EEEEEE;
  --darkblue: #1C1E27;
}


.menu {
  background-color: var(--apostrophegold);
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 3;

  transition: visibility 0s 0.5s, opacity 0.5s;
  animation: fade-in 0.5s;
}

.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

/*.hide {
  opacity: 0;
  display: none;
  animation: fade-out 0.5s;
  transition: all 0.5s;
}*/

.menu-open {
}

.menu-close {
}

.menu-open img,
.menu-close img {
  vertical-align: middle;
}

/* Scrolling NavBar */
.nav-up {
  transform: translateY(-100%);
}

nav {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);

  text-align: right;
}

nav .menu-big a {
  font-size: 65px;
  line-height: 1.4;
  font-family: 'lemur-light', sans-serif;
  display: block;
  margin-bottom: 15px;

  transition: color 0.4s ease-in-out;
}

nav .menu-big a:hover {
  color: #474748;
}

.menu p {
  font-size: 13px;
  color: #474748;
  font-family: 'lemur-medium', sans-serif;
}

.menu h2 {
  font-size: 24px;
  color: white;
  font-family: 'lemur-light', sans-serif;
}

.menu-big {
  margin-bottom: 100px;
}

.menu-small {
  margin-bottom: 75px;
}

.menu-small a {
  font-size: 13px;
  color: #474748;
  font-family: 'lemur-medium', sans-serif;
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 545px;
  pointer-events: none;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;

  transition: transform 0.35s ease-in-out;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.menu header {
  background-color: var(--apostrophegold);
}